# Ignore all node_modules directories
**/node_modules

# Ignore build outputs
**/dist
**/.next

# Ignore local development files
.env
*.env.local

# Ignore git and other version control
.git
.gitignore

# Ignore storybook static build
/apps/web/storybook-static
